.like-block {
  display: inline-block!important;
  width: 29%;
  text-align: right;
}
.like-btn {
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  color: firebrick;
}
.like-hollow-btn {
  font-size: 20px;
  outline: none;
  color: grey;
  border: none;
  cursor: pointer;
}
